$colors: (primary-color: rgba(24, 255, 255, 1),
  dark-primary-color: rgba(35, 178, 190, 1),
  blue-light: rgba(64, 196, 255, 1),
  blue-light-0: rgba(186, 231, 255, 1),
  blue-light-1: rgba(30, 136, 229, 1),
  blue-light-2: rgba(230, 247, 255, 1),
  blue-light-3: rgba(24, 144, 255, 1),
  white-100: rgba(255, 255, 255, 1),
  white-08: rgba(255, 255, 255, 0.08),
  white-12: rgba(255, 255, 255, 0.12),
  white-16: rgba(255, 255, 255, 0.16),
  white-26: rgba(255, 255, 255, 0.26),
  white-30: rgba(255, 255, 255, 0.3),
  white-50: rgba(255, 255, 255, 0.5),
  white-54: rgba(255, 255, 255, 0.54),
  white-70: rgba(255, 255, 255, 0.7),
  /* #1d1d1d */
  grey-29: rgba(29, 29, 29, 1),
  /* #212121 */
  grey-33: rgba(33, 33, 33, 1),
  grey-33-26: rgba(33, 33, 33, 0.26),
  /* #2e2e2e */
  grey-46: rgba(46, 46, 46, 1),
  /* #494949 */
  grey-73: rgba(73, 73, 73, 1),
  /* #626262 */
  grey-62: rgba(62, 62, 62, 1),
  /* #424242 */
  grey-66: rgba(66, 66, 66, 1),
  /* #616161 */
  grey-97: rgba(97, 97, 97, 1),
  /* #656565 */
  grey-101: rgba(101, 101, 101, 1),
  /* #c0c0c0 */
  grey-192: rgba(192, 192, 192, 1),
  /* #f3f3f3 */
  grey-243: rgba(243, 243, 243, 1),
  black-100: rgba(0, 0, 0, 1),
  black-12: rgba(0, 0, 0, 0.12),
  black-16: rgba(0, 0, 0, 0.16),
  black-26: rgba(0, 0, 0, 0.26),
  black-30: rgba(0, 0, 0, 0.3),
  black-54: rgba(0, 0, 0, 0.54),
  black-65: rgba(0, 0, 0, 0.65),
  black-87: rgba(0, 0, 0, 0.87),
  /* #f5a623 */
  orange-vivid: rgba(245, 166, 35, 1),
  /* #ff9800 */
  orange-pure: rgba(255, 152, 0, 1),
  /* #f57c00 */
  orange-pure-mostly: rgba(245, 124, 0, 1),
  /* #ffee58 */
  yellow-light: rgba(255, 238, 88, 1),
  red-vivid: rgba(255, 23, 68, 1),
  box-shadow-dark-1px_0: 0px 1px 3px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-1px_1: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  box-shadow-dark-1px_2: 0px 0px 2px 0px rgba(0, 0, 0, 0.18),
  box-shadow-dark-2px_0: 0px 1px 5px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-2px_1: 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  box-shadow-dark-2px_2: 0px 2px 4px 0px rgba(0, 0, 0, 0.18),
  box-shadow-dark-3px_0: 0px 1px 8px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-3px_1: 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  box-shadow-dark-3px_2: 0px 3px 3px 0px rgba(0, 0, 0, 0.18),
  box-shadow-dark-4px_0: 0px 1px 8px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-4px_1: 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  box-shadow-dark-4px_2: 0px 3px 3px 0px rgba(0, 0, 0, 0.18),
  box-shadow-dark-6px_0: 0px 3px 5px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-6px_1: 0px 1px 18px 0px rgba(0, 0, 0, 0.14),
  box-shadow-dark-6px_2: 0px 6px 10px 0px rgba(0, 0, 0, 0.18),
  box-shadow-dark-8px_0: 0px 4px 5px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-8px_1: 0px 3px 14px 3px rgba(0, 0, 0, 0.14),
  box-shadow-dark-8px_2: 0px 8px 10px 1px rgba(0, 0, 0, 0.18),
  box-shadow-dark-9px_0: 0px 5px 6px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-9px_1: 0px 3px 16px 2px rgba(0, 0, 0, 0.14),
  box-shadow-dark-9px_2: 0px 9px 12px 1px rgba(0, 0, 0, 0.18),
  box-shadow-dark-12px_0: 0px 7px 8px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-12px_1: 0px 3px 22px 4px rgba(0, 0, 0, 0.14),
  box-shadow-dark-12px_2: 0px 12px 17px 2px rgba(0, 0, 0, 0.18),
  box-shadow-dark-13px_0: 0 11px 15px 0 rgba(0, 0, 0, 0.24),
  box-shadow-dark-13px_1: 0 9px 46px 8px rgba(0, 0, 0, 0.14),
  box-shadow-dark-13px_2: 0 24px 38px 3px rgba(0, 0, 0, 0.18),
  box-shadow-dark-14px_0: 0px 7px 8px 0px rgba(0, 0, 0, 0.2),
  box-shadow-dark-14px_1: 0px 5px 22px 4px rgba(0, 0, 0, 0.12),
  box-shadow-dark-14px_2: 0px 12px 17px 2px rgba(0, 0, 0, 0.14),
  box-shadow-dark-16px_0: 0px 8px 10px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-16px_1: 0px 6px 30px 5px rgba(0, 0, 0, 0.14),
  box-shadow-dark-16px_2: 0px 16px 24px 2px rgba(0, 0, 0, 0.18),
  box-shadow-dark-24px_0: 0px 11px 15px 0px rgba(0, 0, 0, 0.24),
  box-shadow-dark-24px_1: 0px 9px 46px 8px rgba(0, 0, 0, 0.14),
  box-shadow-dark-24px_2: 0px 24px 38px 3px rgba(0, 0, 0, 0.18),
  font-size-htitle: 24px,
  font-size-mtitle: 20px,
  font-size-stitle: 16px,
  font-size-table: 15px,
  font-size-text: 14px,
  font-size-note: 12px,
  app-min-width: 840px,
  app-min-height: 579px);